<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<a href="../../voitures/">Retour</a>
<h1>Voiture detail {{ voiture.id }}</h1>

<p><strong><u>Marque :</u></strong> {{ voiture.marque }}</p>
<p><strong><u>Modèle :</u></strong> {{ voiture.modele }}</p>
<p><strong><u>Année de construction :</u></strong> {{ voiture.anneeConstruction }}</p>
<p><strong><u>Cylindrée :</u></strong> {{ voiture.cylindree }}</p>
<p><strong><u>Version :</u></strong> {{ voiture.version }}</p>

</body>
</html>